#!/bin/bash
#SBATCH -p bdwall
#SBATCH -N {{ n }}
#SBATCH -A {{ A }}
#SBATCH -t {{ t }}
#SBATCH -q {{ q }}

export DH_HEPNOS_EXP_STEP={{ hepnos_exp_step }}
export DH_NODES_PER_TASK={{ nodes_per_task }}

source {{ activation_script }}

cd {{ exp_dir }}

for port in $(seq 6379 9000); do
    RAY_PORT=$port;
    ray start --head --num-cpus {{ num_cpus_driver }} --port $RAY_PORT;
    if [ $? -eq 0 ]; then
        break
    fi
done


deephyper hps ambs --ray-address "localhost:$RAY_PORT" \
    --num-cpus-per-task {{ num_cpus_per_task }} \
    --problem {{ problem }} \
    --run {{ run }} \{% if fit_search_space or fit_surrogate %}{% if fit_search_space %}
    --transfer-learning {{ fit_search_space }} \
    --transfer-learning-strategy {{ transfer_learning_strategy }} \
    --transfer-learning-epsilon {{ transfer_learning_epsilon }} \{% else %}
    --checkpoint {{ fit_surrogate }} \{%  endif %}{% endif %}
    --max-evals 500

kill $(ps aux | grep $USER | python | grep ray | grep $RAY_PORT | awk '{print $2}')
